:root.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #000000;
  --hover-bg-color: #f0f0f0;
}

:root.dark {
  --bg-color: #000000;
  --text-color: #00ff00;
  --border-color: #00ff00;
  --hover-bg-color: #003300;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
